body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
}

.container {
    width: 970px;
    max-width: none !important;
}

.page {
    @include stretch( 1em, 1em, 1em, 1em );
    display: none;
}

p {
    cursor: default;
}

.progress {
    background-image: url("../images/progress_16x16.gif");
    background-repeat: no-repeat;
    background-position-x: 1px;
    padding-left: 24px;
}

#checking {
    #checking_footer {
        text-align: right;
    }
}

.loading {
    margin-right: 10px;
}

#update-log {
    background-color: $gray-darker;
    color: $gray-lighter;
    font-family: $font-family-monospace;
    border-radius: 4px;
    padding: 10px;
    font-size: $font-size-small;
}

.update-log-control {
    display: none;
}

#update-log-buttons {
    position: relative;
    .buttons {
        position: absolute;
        top: 5px;
        right: 0;
        z-index: 10;
        font-size: $font-size-small;
        cursor: pointer;
        padding: 0px;
        .button-copy {
            padding: 5px 8px;
            background-color: $gray-lighter;
            color: $gray-darker;
            border: 1px solid $gray-darker;
            &:first-child {
                border-right: 0px;
                border-radius: 0 0 0 4px;
                margin-right: -5px;
            }
            &:last-child {
                border-radius: 0;
            }
            &:hover {
                background-color: $gray-darker;
                color: $gray-lighter;
                border: 1px solid $gray-lighter;
            }
        }
    }
}
