/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/layout/sticky-footer";
@import "compass/layout/stretching";
@import "button";

// 21px: height of .button
@include sticky-footer( 21px, "#checking_container", "#checking_container_footer", "#checking_footer" );

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
}

.page {
    @include stretch( 1em, 1em, 1em, 1em );
}

p {
    cursor: default;
}

.progress {
    background-image: url("../images/progress_16x16.gif");
    background-repeat: no-repeat;
    background-position-x: 1px;
    padding-left: 24px;
}

#checking {
    #checking_footer {
        text-align: right;
    }
}
