/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_button.scss */
a.button {
  display: inline-block;
  padding: 0 33px;
  height: 19px;
  line-height: 19px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  text-align: center;
  font-family: "Lucida Grande", lucida, "Helvetica Neue", helvetica, sans-serif;
  font-size: 12px;
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.09);
  min-width: 38px;
}

@-webkit-keyframes blinking {
  from {
    -webkit-box-shadow: inset 0 19px 0 rgba(0, 115, 215, 0), inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
  }
  50% {
    -webkit-box-shadow: inset 0 19px 0 rgba(0, 115, 215, 0.2), inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
  }
  to {
    -webkit-box-shadow: inset 0 19px 0 rgba(0, 115, 215, 0), inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
  }
}
@-moz-keyframes blinking {
  from {
    -moz-box-shadow: inset 0 19px 0 rgba(0, 115, 215, 0), inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
  }
  50% {
    -moz-box-shadow: inset 0 19px 0 rgba(0, 115, 215, 0.2), inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
  }
  to {
    -moz-box-shadow: inset 0 19px 0 rgba(0, 115, 215, 0), inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
  }
}
@keyframes blinking {
  from {
    box-shadow: inset 0 19px 0 rgba(0, 115, 215, 0), inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
  }
  50% {
    box-shadow: inset 0 19px 0 rgba(0, 115, 215, 0.2), inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
  }
  to {
    box-shadow: inset 0 19px 0 rgba(0, 115, 215, 0), inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
  }
}
/* line 84, ../sass/_button.scss */
a.button.ok {
  border-top-color: #5a5caf;
  border-bottom-color: #52536f;
  border-left-color: #56578f;
  border-right-color: #56578f;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #D3F7FD), color-stop(0.5, #87C5FB), color-stop(0.5, #A1D1F9), color-stop(1, #D4E9FC));
  background-image: -moz-linear-gradient(center bottom, #D3F7FD 0%, #87C5FB 50%, #A1D1F9 50%, #D4E9FC 100%);
  -webkit-animation-name: blinking;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  -moz-animation-name: blinking;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 1s;
  animation-name: blinking;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

/* line 119, ../sass/_button.scss */
a.button.ok:active, a.button.cancel:active, a.button.small:active {
  -webkit-box-shadow: inset 0 19px 0 rgba(0, 115, 215, 0.3), inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
  -webkit-animation-name: none;
  -moz-box-shadow: inset 0 19px 0 rgba(0, 115, 215, 0.3), inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
  -moz-animation-name: none;
  box-shadow: inset 0 19px 0 rgba(0, 115, 215, 0.3), inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
  animation-name: none;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #D3F7FD), color-stop(0.5, #87C5FB), color-stop(0.5, #A1D1F9), color-stop(1, #D4E9FC));
  background-image: -moz-linear-gradient(center bottom, #D3F7FD 0%, #87C5FB 50%, #A1D1F9 50%, #D4E9FC 100%);
  border-top-color: #5a5caf;
  border-bottom-color: #52536f;
  border-left-color: #56578f;
  border-right-color: #56578f;
}

/* line 158, ../sass/_button.scss */
a.button.cancel, a.button.inactive, a.button.small {
  border-color: #9a9a9a;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #EBEBEB), color-stop(0.5, #ECECEC), color-stop(0.5, #F3F3F3), color-stop(1, #FFFFFF));
  background-image: -moz-linear-gradient(center bottom, #EBEBEB 0%, #ECECEC 50%, #F3F3F3 50%, #FFFFFF 100%);
  -webkit-box-shadow: inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
  -moz-box-shadow: inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
  box-shadow: inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
}

/* line 187, ../sass/_button.scss */
a.button.inactive {
  opacity: 0.5;
  cursor: default;
}

/* line 192, ../sass/_button.scss */
a.button.small {
  height: 16px;
  line-height: 16px;
  font-size: 11px;
}

/* line 198, ../sass/_button.scss */
a.button.small:active {
  -webkit-box-shadow: inset 0 16px 0 rgba(0, 115, 215, 0.3), inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
  -moz-box-shadow: inset 0 16px 0 rgba(0, 115, 215, 0.3), inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
  box-shadow: inset 0 16px 0 rgba(0, 115, 215, 0.3), inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.09);
}

/* line 10, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#checking_container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -21px;
}
/* line 18, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#checking_container #checking_container_footer {
  height: 21px;
}

/* line 20, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#checking_footer {
  clear: both;
  position: relative;
  height: 21px;
}

/* line 14, ../sass/credits.scss */
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
}

/* line 19, ../sass/credits.scss */
.page {
  position: absolute;
  top: 1em;
  bottom: 1em;
  left: 1em;
  right: 1em;
}

/* line 23, ../sass/credits.scss */
p {
  cursor: default;
}

/* line 27, ../sass/credits.scss */
.progress {
  background-image: url("../images/progress_16x16.gif");
  background-repeat: no-repeat;
  background-position-x: 1px;
  padding-left: 24px;
}

/* line 35, ../sass/credits.scss */
#checking #checking_footer {
  text-align: right;
}
